
    <label>Username
        <input type="text" name="user[user_name]">
    </label>
    <br>

    <label>Password
        <input type="password" name="user[password]">
    </label>
    <br>

    <input type="submit" value="<%= type %>">